/*###############################################################
    COLORS AND FONTS AND OTHER GENERAL STYLES
*/
$font-stack: Helvetica, sans-serif;

$dark-bg: #293951;
$sidebar-bg: #001328;
$main-bg: #54637d;
$nav-bg: #051a29;

$content-border: 2px solid #FFF;
/*###################################################################
    BODY, HEADER, NAV AND FOOTER STYLES
*/
:host {
  font: $font-stack;
  margin: 0;
}

header {
  padding: 2rem;
  background-color: $dark-bg;
  text-align: center;
  color: #FFF;
  height: 10%;
}

.navbarContainer {
  width: 100%;
  align-items: center;
}

.flexContainer {
  display: flex;
}

.contentContainer {
  display: flex;
  flex-wrap: nowrap;
}

.bordered {
  border: $content-border;
}

nav {
  background-color: $nav-bg;
  width: 100%;
  justify-content: space-around;
}

.navBtn {
  background-color: #FFF;
  padding: 1rem;
  margin: 1rem;
  width: 10%;
  color: #000;
  border-radius: 1rem;


}

.centeredText {
  text-align: center;
}

footer {
  width: 100%;
  height: 5rem;
  background-color: $dark-bg;
  color: #FFF;
  padding-top: 1rem;
}

/*##################################################
  MAIN AND SIDE STYLES
*/
main {
  width: 60%;
  justify-content: space-around;
  background-color:  $main-bg;
  color: #FFF;
}

.sideContent {
  width: 40%;
  text-align: center;
  background-color: $sidebar-bg;
  color: #FFF;
}

/* ###########################################################
  MEDIA QUERIES
*/
@media only screen
  and (min-device-width: 200px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .contentContainer {
    flex-flow: wrap;
  }

  main {
    width: 100%;
  }

  .sideContent {
    width: 100%;
  }

  .navBtn {

  }
}
